name: goreleaser

on:
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        runs-on: ubuntu-latest
        with:
          fetch-depth: 0
      -
        name: Go 1.20
        uses: actions/setup-go@v4
        with:
          go-version: "^1.20"
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        runs-on: ubuntu-latest
        with:
          distribution: goreleaser
          version: latest
          args: -f .github/conf/.goreleaser.yml
          workdir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}